
*.xcuserstate

Vocabulum.xcodeproj/project.xcworkspace/xcuserdata/johannes.xcuserdatad/UserInterfaceState.xcuserstate

Vocabulum.xcodeproj/project.xcworkspace/xcuserdata/johannes.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

Vocabulum.xcodeproj/project.xcworkspace/xcuserdata/johannes.xcuserdatad/UserInterfaceState.xcuserstate

Vocabulum.xcodeproj/project.xcworkspace/xcuserdata/johannes.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

Vocabulum.xcodeproj/project.xcworkspace/xcuserdata/johannes.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

Vocabulum.xcodeproj/xcuserdata/johannes.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcuserstate

*.xcuserstate

Vocabulum.xcodeproj/project.xcworkspace/xcuserdata/johannes.xcuserdatad/UserInterfaceState.xcuserstate

Vocabulum.xcodeproj/project.xcworkspace/xcuserdata/johannes.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

*.pbxproj
